<div class="page">
  <h3 class="page_title">Bienvenue sur LebonTroc !</h3>

  <p class="page_subtext">Commencez à échanger des objets</p>
  <div class="wrapper">
    <a routerLink="/list-objects">
      <div class="item">
        <img
          class="polaroid"
          src="../../../assets/home.jpg"
          alt="Photo d'objets sur une table"
        />
      </div>
    </a>
    <a routerLink="/list-objects">
      <div class="item">
        <img
          class="polaroid"
          src="../../../assets/home2.jpg"
          alt="Photo d'objets sur une table"
        />
      </div>
    </a>
    <a routerLink="/list-objects">
      <div class="item">
        <img
          class="polaroid"
          src="../../../assets/home3.jpg"
          alt="Photo d'objets sur une table"
        />
      </div>
    </a>
  </div>
</div>
